<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cabecalho_pagina">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title >Cadastro</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
	label{
		font-size: larger; 
		font-family: Arial, Helvetica, sans-serif;
	}
	#imagemForm{
		margin-left: 850px;
		padding: 10px;
		background-image: url("barra1.jpg");
		height: 920px;
	}
</style>

<body>
	<div class="container">
		<div th:replace="fragments :: menu"></div>
	</div>


	<div class="container jumbotron" align="center">
	
		
		<h1 th:text="#{formulario.titulo}" align="center" style="font-size: xx-large;"></h1>
		
		<form class="w-75" th:object="${musicas}" method="post" th:action="@{/cadastro}">
			<div class="form-group">
				<h1 th:text="#{formulario.musica1}" style="font-size: xx-large;"></h1>
				<label th:text="#{formulario.musica1Titulo}" for="exampleFormControlInput1" style="font-size: larger; font-family: Arial, Helvetica, sans-serif;"> </label> <input name="titulo" th:field="*{titulo}"
					type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
					th:placeholder="#{formulario.PlaceholderTitulo}" required>
					
				<label th:text="#{formulario.musica1AutorLetra}" for="exampleFormControlInput1"> </label> <input name="autor_letra"
					th:field="*{autor_letra}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderAutorLetra}" required>

				<label th:text="#{formulario.musica1AutorMusica}" for="exampleFormControlInput1"></label> <input name="autor_musica"
					th:field="*{autor_musica}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderAutorMusica}" required>
				
				<label th:text="#{formulario.musica1Interprete}" for="exampleFormControlInput1"> </label> <input name="interprete"
					th:field="*{interprete}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderInterprete}" required>
					

				<label th:text="#{formulario.musica1Acompanhante}" for="sel1"> </label> <input th:field="*{qtde}" type="number"
					name="qtde" min="1" max="99" value="0" required>

			</div>


			<div class="form-group">
				<h1 th:text="#{formulario.musica2}" style="font-size: xx-large;"></h1>
				<label  th:text="#{formulario.musica2Titulo}"  for="exampleFormControlInput1"> </label> <input name="titulo" th:field="*{titulo}"
					type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
					th:placeholder="#{formulario.PlaceholderTitulo}" required>

				<label th:text="#{formulario.musica2AutorLetra}" for="exampleFormControlInput1"> </label> <input name="autor_letra"
					th:field="*{autor_letra}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderAutorLetra}" required>

				<label  th:text="#{formulario.musica2AutorMusica}" for="exampleFormControlInput1"> </label> <input name="autor_musica"
					th:field="*{autor_musica}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderAutorMusica}" required>

				<label th:text="#{formulario.musica2Interprete}" for="exampleFormControlInput1"> </label> <input name="interprete"
					th:field="*{interprete}" type="text" class="form-control" th:errorclass="is-invalid"
					id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderInterprete}" required>


				<label th:text="#{formulario.musica2Acompanhante}" for="sel1"> </label> <input th:field="*{qtde}" type="number"
					name="qtde" min="1" max="99" value="0" required>


			
			</div>
			<div class="container table-responsive">
				<h2 th:text="#{formulario.biografia}"></h2>
				<textarea name="biografia" th:field="*{biografia}" th:object="${musicas}" minlength="10" maxlength="200"
					rows="3" style="width: 540px; resize: none; margin-left: -10px;" required>

				</textarea>
			</div>
			<form class="form" th:object="${pessoas}" method="post" th:action="@{/cadastro}">
				<div class="form-group" id="posicao_div_1">

					<label  th:text="#{formulario.cadastroUsuarioNome}" for="exampleFormControlInput1"></label> <input name="nome" th:field="*{nome}"
						type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						th:placeholder="#{formulario.PlaceholderUsuarioNome}" required>

					<label  th:text="#{formulario.cadastroUsuarioCpf}"  for="exampleFormControlInput1"> </label> <input name="cpf" th:field="*{cpf}" type="text"
						class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderUsuarioCpf}" 
						required onkeypress="$(this).mask('000.000.000-00');">

					<label th:text="#{formulario.cadastroUsuarioEndereco}" for="exampleFormControlInput1"></label> <input name="endereco" th:field="*{endereco}"
						type="adress" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						th:placeholder="#{formulario.PlaceholderUsuarioEndereco}"  required>


					<label th:text="#{formulario.cadastroUsuarioEnderecoBairro}" for="exampleFormControlInput1"></label> <input name="bairro" th:field="*{bairro}"
						type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						th:placeholder="#{formulario.PlaceholderUsuarioBairro}" required>

					<label  th:text="#{formulario.cadastroUsuarioEnderecoCidade}" for="exampleFormControlInput1"></label> <input name="cidade" th:field="*{cidade}"
						type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						th:placeholder="#{formulario.PlaceholderUsuarioCidade}" required>

					<label th:text="#{formulario.cadastroUsuarioFone}" for="exampleFormControlInput1"></label> <input name="fone" th:field="*{fone}" type="text"
						class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1" th:placeholder="#{formulario.PlaceholderUsuarioFone}"
						required onkeypress="$(this).mask('(00) 0000-00009')">

					

				</div>
				<div class="row-150" id="posicao_div_2">
					<label th:text="#{formulario.cadastroUsuarioRG}"  for="exampleFormControlInput1"></label> <input name="rg" th:field="*{rg}" type="text"
						class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1" placeholder="rg"
						required onkeypress="$(this).mask('0.000-000')">


					<label  th:text="#{formulario.cadastroUsuarioCEP}"  for="exampleFormControlInput1"></label> <input name="cep" th:field="*{cep}" type="text"
						class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1" placeholder="cep"
						required onkeypress="$(this).mask('00.000-000')">

					<label th:text="#{formulario.cadastroUsuarioEstado}" for="exampleFormControlInput1"></label> <input name="estado" th:field="*{estado}"
						type="text" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						th:placeholder="#{formulario.traducaoPlaceholderEstado}" required>

					<label th:text="#{formulario.cadastroUsuarioEmail}" for="exampleFormControlInput1"></label> <input name="email" th:field="*{email}"
						type="email" class="form-control" th:errorclass="is-invalid" id="exampleFormControlInput1"
						placeholder="email" required>

					<label th:text="#{formulario.cadastroUsuarioBanda}"  for="exampleFormControlSelect1" style="padding: 10px;"></label> <select th:field="*{banda}"
						name="banda" class="form-control" id="exampleFormControlSelect1" required>
						<option disabled selected value="Selecione"></option>
						<option value="Sim"   th:text="#{opcaoBandaFestivalOpcaoSim}"></option>

						<option value="Nao"  th:text="#{opcaoBandaFestivalOpcaoNao}"></option>
						
					</select>
					
					<label th:text="#{formulario.cadastroUsuarioAcompanhante}" for="exampleFormControlSelect1" style="padding: 10px;"></label>
					 <select  th:field="*{acompanhante}"  name="acompanhante"  id="local" class="form-control">
						<option disabled selected value="Selecione"></option>
						<option value="Sim"   th:text="#{opcaoUsuarioAcompanhanteOpcaoSim}"></option>

						<option value="Nao"  th:text="#{opcaoUsuarioAcompanhanteOpcaoNao}"></option>

					</select>
				</div>
				<p  th:text="#{formulario.cadastroUsuarioObservacao}" style="padding: 20px;"><b>
					</b>
				</p>
				<div class="form-check" style="padding: 20px;">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="termo" th:field="*{termo}">
					<label class="form-check-label" for="flexCheckDefault" >
						<h6 th:text="#{formulario.cadastroUsuarioTermo}" style="font-size: large; font-family: Arial, Helvetica, sans-serif;"><b>
						
						</b>
						</h6>
					</label>
				</div>

				<button th:text="#{formulario.cadastroBotaoSalvar}" class="btn btn-primary" type="submit"> </button>
				<a th:text="#{formulario.cadastroBotaoVoltar}" type="button" class="btn btn-primary" th:href="@{/}"></a>
			</form>
		</form>
	</div>




	<div class="fixed">
		<div th:replace="fragments :: footer"></div>
	</div>


</body>

</html>